<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, natus atque. Quas assumenda atque fugit, officia hic vitae dignissimos minus consectetur provident placeat, dolore unde eligendi? Nesciunt quaerat voluptatum sequi?</p>
    </div>
</section>