<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card bg-dark text-white">
            <div class="card-header pt-5">
                <h4 class="text-center">
                    Account Login
                </h4>
            </div>
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="mb-3">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" name="email" placeholder="Email"
                            value="{{email}}" />
                    </div>
                    <div class="mb-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password"
                            placeholder="Password"/>
                    </div>
                    <button class="btn btn-success btn-block">
                        Signin
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>